<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ frxs Inc.  兴盛社区网络服务股份有限公司.
  ~ Copyright (c) 2017-2018. All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frxs.promotion.common.dal.mapper.ActivityPreproductServiceDetailMapper">
  <resultMap id="BaseResultMap" type="com.frxs.promotion.common.dal.entity.ActivityPreproductServiceDetail">
    <id column="serviceDetailId" jdbcType="BIGINT" property="serviceDetailId" />
    <result column="preproductId" jdbcType="BIGINT" property="preproductId" />
    <result column="serviceAmtCode" jdbcType="VARCHAR" property="serviceAmtCode" />
    <result column="serviceAmt" jdbcType="DECIMAL" property="serviceAmt" />
    <result column="serviceRate" jdbcType="DECIMAL" property="serviceRate" />
    <result column="serviceDesc" jdbcType="VARCHAR" property="serviceDesc" />
    <result column="createUserId" jdbcType="BIGINT" property="createUserId" />
    <result column="createUserName" jdbcType="VARCHAR" property="createUserName" />
    <result column="modifyUserId" jdbcType="BIGINT" property="modifyUserId" />
    <result column="modifyUserName" jdbcType="VARCHAR" property="modifyUserName" />
    <result column="tmCreate" jdbcType="TIMESTAMP" property="tmCreate" />
    <result column="tmSmp" jdbcType="TIMESTAMP" property="tmSmp" />
  </resultMap>
  <sql id="Base_Column_List">
    serviceDetailId, preproductId, serviceAmtCode, serviceAmt, serviceRate, serviceDesc,
    createUserId, createUserName, modifyUserId, modifyUserName, tmCreate, tmSmp
  </sql>

  <insert id="insertBatch" parameterType="java.util.List" keyProperty="serviceDetailId" useGeneratedKeys="true">
    INSERT INTO t_activity_preproduct_service_detail(
    preproductId, serviceAmtCode, serviceAmt, serviceRate, serviceDesc, createUserId,
    createUserName, tmCreate,modifyUserId,modifyUserName
    )VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.preproductId}, #{item.serviceAmtCode}, #{item.serviceAmt}, #{item.serviceRate}, #{item.serviceDesc}, #{item.createUserId},
      #{item.createUserName}, #{item.tmCreate},#{item.modifyUserId}, #{item.modifyUserName})
    </foreach>
  </insert>
</mapper>